:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color scheme variables */
  color-scheme: light dark;
  --primary: #0ea5a4; /* teal */
  --primary-600: #059669;
  color: rgba(255, 255, 255, 0.9);
  background-color: #0b1220;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-600);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #071226;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.2s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0f1724;
    background-color: #ffffff;
    --primary: #0b7285;
    --primary-600: #085a6b;
  }
  a:hover {
    color: var(--primary-600);
  }
  button {
    background-color: #f9f9f9;
  }
}
